$color1: #feaf00;
$color2: #f8d442;
$color3: #ffffff;
$color4: #000000;
$color5: #e5e5e5;
$color6: #6c6c6c;
$color7: #cdcdcd;
$color8: #f6c762;
$color9: #fdfdfd;
$color10: #c4c4c4;
$color11: #74c1ed6c;
$color12: #f0f9ff;
$color13: #ee95c5;
$color14: #f2eae1;
$color15: #fef6fb;
$color16: #fefbec;
$color17: #f8f8f8;
$color18: #acacac;
$color19: #9fa2b4;

/* BOOTSTRAP */
$primary: $color1;
$secondary: $color5;
$light: $color14;
