$color1: #fdb60b;
$color2: #f2eae1;
$color3: #f0f9ff;
$color4: #fef6fb;
$color5: #fefbec;
/* BOOTSTRAP */
$primary: $color1;
$secondary: $color2;
$font-family-sans-serif: "Poppins";
$navbar-light-color: $color1;
$navbar-light-hover-color: $color2;
