@use "../../assets/scss/mixins" as m;
@use "../../assets/scss/variables" as v;

.admin-students {
  .action-icon {
    color: v.$color1;
    margin-right: 5px;
    font-size: 16px;
    cursor: pointer;
  }
}
